html {
  font-family: "Articulat CF";
  font-display: swap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #034d89;
  margin-top: 0;
}

h1 {
  font-family: "Articulat CF";
  font-weight: normal;
  font-size: 3.75rem;
  color: #034d89;
}

h2 {
  font-weight: 700;
  font-size: 2.5rem;
}

h3 {
  font-family: "Poppins";
  font-size: 2rem;
}

h4 {
  font-family: "Poppins";
  font-size: 1.25rem;
}

h5 {
  font-family: "Poppins";
  font-size: 0.875rem;
}

h6 {
  font-family: "Poppins";
  font-size: 0.75rem;
}

p {
  margin-top: 0;
  font-size: 1rem;
  letter-spacing: 0.02rem;
  line-height: 1.5rem;
  font-weight: 300;
}

a {
  font-size: 1rem;
  font-weight: 600;
  color: #1d1d1d;
}
